.tool_img {
  object-fit: cover;
  width: 330px;
  padding: 10px;
  max-height: 200px;
  object-position: center;
}

.tool-body {
  object-fit: contain;
  width: 330px;
  overflow-y: hidden;
  max-height: 200px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-family: "Calibri";
}

.tool-body > p {
  text-align: justify;
}

.tooltip {
  outline: none;
  display: inline-block;
  border-radius: 0.5em;
  background-color: #fff;
  color: #111;
  object-fit: contain;
}
