.tooltip {
  outline: none;
  display: inline-block;
  border-radius: 0.5em;
  background-color: #222;
  color: white;
  object-fit: contain;
}

.tool_img {
  object-fit: cover;
  width: 330px;
  padding: 10px;
  max-height: 200px;
  object-position: center;
}

.tool-body {
  object-fit: contain;
  width: 330px;
  max-height: 200px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-family: "Calibri";
}

.tool-body > p {
  text-align: justify;
}

.line {
  height: 2px;
  background-color: crimson;
  margin-bottom: 10px;
  width: 330px;
}
